<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <title>Players API</title>
  <meta name="description" content="Player and game management">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Player's API">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.url %>">
  <meta property="og:image" content="<%= request.url %>img/favicon.png">


  <link rel="icon" href="img/favicon.ico" sizes="any">
  <link rel="icon" href="img/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="img/favicon.png">

  <link rel="stylesheet" href="css/main.css?cachebust=1647473925110">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <%= yield %>

  <script src="js/main.js?cachebust=1647473925110"></script>
</body>
</html>
