:root {
  --foreground-color: hsl(0, 0%, 100%);

  --primary-color: hsl(243, 23%, 18%);
  --secondary-color: hsl(5, 70%, 56%);

  --accent-color-light: hsl(186, 53%, 85%);
  --accent-color: hsl(185, 52%, 76%);
  --accent-color-dark: hsl(184, 70%, 43%);

  --secondary-color-light: hsl(5, 70%, 90%);
}

$sides-padding: 15rem;
